.project-font
{
    font-size: 40px;
    width:110px;
    height: 110px;
    line-height: 80%;
}
.project-font >span
{
    font-size: 20px;
    font-weight: bolder;
    display: inline-block;
}
.project-color
{
    background-color: rgb(220, 248, 239);
}
.open
{
    background-color: rgb(238, 100, 139);
}
.close
{
    background-color: rgb(179, 222, 194);
}

.accordion-list
{
    overflow-x: auto;
    height: 150px;
}